/* de esta forma quitamos todos los padding y margin que
los navegadores tienen por defecto*/
*{
    padding: 0;
    margin:0;
} 
/*HEADER*/
#header, #footer{
    margin: auto;
    background-color: #0c0b53;
    width: 1100px;
    height: 100px;
}
.prueba2{
    margin: auto;
    background-color: #0c0b53;
    width: 100%;
    height: 140px;
    z-index: -1;
    position: absolute;
}
#nombreDiario > a{
    padding: 10px;
    margin-right: 40px;
    color: #ffffff;
    width: 150px;
    text-align: center;
    float: right;   
    text-decoration: none;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: black;
}
/* MENÚ */
#menu{
    
    margin: auto;
    clear: both;
    width: 1100px;
    font-family:  Helvetica, Arial,sans-serif;
    font-weight: bold;
    position: relative;
    z-index: 10;
}
ul{
    list-style-type: none;
}

.nav li a{
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    background-color: #0c0b53;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nav > li {
    float: left;
    
}
.nav li > a:hover {
 background: linear-gradient(180deg, #005FFF 5%, #0c0b53 95%);
 
}
.arribaAbajo{
    position: absolute;/* ASí no se deforma el menú */
    height:0;/*La altura parte de un tamaño 0*/
    overflow: hidden;/*ocultamos todos los submenus*/
    width: 120px;
    /*tipo de transición, para height que dura 0,5segundos i de tipo ease*/
    -webkit-transition: height 0.5s ease;/*  Google */
    /*Para el reesto de navegadores*/
    -moz-transition: height 0.5s ease; /* Firefox */
    -ms-transition: height 0.5s ease; /* microsoft */
    -o-transition: height 0.5s ease; /* opera */
    
}

.nav li:hover > ul{
    border-bottom: 1px solid white;
    height:118px;/* Esto hará que el height pase de 0 a 
                    300 pixeles en la transición. */
}

.nav li  ul  li  ul {
    position: relative;
    right: -140px;
    top: 0;
    
}
.prueba{
    
    border-top: 0.3px solid white;
    border-right: 0.3px solid white;
    background-color: #0c0b53;
    height: 39px;
}

/* SECCIÓN PRINCIPAL */
#container{
    margin: auto;
    width: 1098px;
    height: 657px;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    position: relative;
}
div > span {
    color: #8d8d8d;
    font-size: 12px;
}
.prueba3{
    margin: auto;

    border-left: 0.3px solid white;
    border-right: 0.3px solid white;
    border-bottom: 0.3px solid white;
    background-color: #0c0b53;
    width: 1099px;
    height: 120px;
}
.lineaVertical{
    border-left: 1px solid grey;
    height: 570px;
    float: left;
    position: relative;
    top: 1%;
    
    
}
.noticias{
    padding: 15px;
    float: left;
    width:23%;
    text-align: justify;
}
#noticiaPrincipal{
    
    padding: 15px;
    float: left;
    width:45%;
    text-align: justify;
}
img{
    padding-top: 20px;
    width: 100%;
}
p{
    padding-top: 20px;
}

/* NOTICIAS */

.contenidoNoticias{
    padding:50px;
    text-align: justify;
    
}
.contenidoNoticias > img{
    margin: auto;
    width: 90%;
}

#container2{
    margin: auto;
    width: 1098px;
    height: 100%;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    position: relative;
}
#container3{
    margin: auto;
    width: 1098px;
    height: 1100px;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    position: relative;
}

/* FORMULARIO */

form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width: 700px;
  }
  
   .direccion{
       /* Con esto centramos verticalmente la etiqueta de direccíon sobre el textarea */
      display: flex;
     align-items: center; 
  }  
  label {
      /* Tamaño y alineación uniforme en todas las etiquetas label */
      display: inline-block;
      width: 100px;
      height: 25px;
      text-align: left; 
    }
    .tarjeta{
        /* modificar ancho */
      width: 35px;
    }
    .datosTarjeta{
        /* modificar ancho */
      width: 75px;
    }
    .contraseña{
        /* modificar ancho sección login*/
        width: 240px;
    }
    .diez{
        /* modificar ancho label direccion y input contraseña */
        width: 104px;
    }
    .tamFecha{
        width: 172px;
    }


/* FOTOS */

#imagenes{
    width: 60%;
    height: 400px;
}
.centrado{
    text-align: center;
    
}
.fotos{
    float: left;
    width:20%;
    padding:22px;
    margin: 5px;
    /* Añadiendo algo de animaciones */
    -webkit-transition: -webkit-transform 1s ease-in-out 0.1s;
    -moz-transition: -webkit-transform 1s ease-in-out 0.1s;
    -o-transition: -webkit-transform 1s ease-in-out 0.1s;
    -ms-transition: -webkit-transform 1s ease-in-out 0.1s;
}

.grupoFotos{ 
    text-align: center;
    width:100%; 
    
    
}
.fotos:hover{/* Cuando el ratón pase sobre las imágenes estas se agrandarán */
    -webkit-transform:scale(3);
    -ms-transform:scale(3);
    -o-transform:scale(3);
    -moz-transform:scale(3);
    border: solid 1px;
    background-color:white;
    
}

/* FUTBOL */

.noticiasFutbol{
    margin: auto;
    width: 90%;
    height:30%;
    margin-bottom:10px;

}

.futbol{
    float: left;
    width: 20%;
    padding:20px;
}
p > h2{
    float: left;
}

/* ESTADÍSTICAS */

table{
    margin: 0 auto;
    width: 75%;    
}

table,th, td, tr{
    padding:5px;
    border-collapse: collapse;
}
#tabla1,#tabla2,  .tablaCalendario{
    text-align: center;
    
}

#tabla1 > h2,#tabla2 > h2,  .tablaCalendario > h2{
    padding:20px;
}
.nombre{
    width:300px;
}

tbody tr:nth-child(even) {

    background-color: #eee;

    }

 tbody tr:nth-child(odd) {

    background-color:#9ab5ff;

    }


    /* CALENDARIO */

    .tablaCalendario{
        width:50%;
        height:33%;
        float:left;
    }